
.jumbotron {
    margin-bottom: 0%; 
    background-color: #FFFFFF;
    padding: 0%;
}
img {
    display: inline-block;
    margin-left: 20px;
    padding: none;
}

.navbar-inverse{
    background-color: #A4A4A4;
    border-color: #A4A4A4;
}
.navbar-inverse .navbar-nav>li>a{
    color:black;
}
.lbl {
    text-align:right;
    color:red;
    margin-right: 20px;
    font-size: 20px;
}
table{
    width: 100%; 
}